<h1 class="sitetitle animate__animated animate__zoomIn">Admin</h1>

<div id="admin-interface">
        <div class="newArticle">
            <h3>Nová udalosť:</h3>
            <label>Názov: <br>
            <input [(ngModel)]="article.title" placeholder="Názov" class="input" type="text" id="name"><br>
            </label><br>
            
            <label>Obsah: <br>
            <textarea [(ngModel)]="article.content" class="textarea" id="content"></textarea><br>
            </label><br>
            <button (click)="createArticle()" class="button-28">Vytvoriť udalosť</button><br>

            
        </div>
        
        <div class="dashboard">
            <h3>Nástenka</h3>
            <br><button (click)="logout()" class="button-28">Logout</button>
        </div>

        <div class="events">
            <h3>Posledné udalosti:</h3>
            <div class="last-event" *ngFor="let article of articles">
                <h2>{{article.title}}</h2>
                <h3>{{article.content}}</h3>
            </div>

        </div>
    </div><br>