<div class="login-form">
    <h1 class="sitetitle animate__animated animate__zoomIn">Prihlásenie</h1>
        <div class="inner-content">
        <form (ngSubmit)="login()">

            <div class="username">
                <label>Meno <br>
                <input [(ngModel)]="loginData.user" name="user" type="text" autocomplete="username" class="input" placeholder="Meno">
                <br></label><br>
            </div>

            <div class="lmethod">
                <label>Token<br>
                <input [(ngModel)]="loginData.token" name="token" type="password" autocomplete="current-password" class="input" placeholder="Token"><br>
                </label><br>
            </div>
                <button type="submit" class="button-28">Login</button>
        </form>
    </div>
</div>