.form {
    margin: 25px;
    padding: 10px;
    align-content: center;
    background-color: #25c9ff;
    border-radius: 15px;
}

.inner-form {
    margin: 25px;
    padding: 15px;
    align-content: center;
    background-color: #ffea00;
    border-radius: 20px;
}

.username {
    align-content: center;
    background-color: #ffd103;
    margin: 15px;
    padding: 10px;
    border-radius: 20px;
}

.lmethod {
    align-content: center;
    background-color: #ffd103;
    margin: 15px;
    padding: 10px;
    border-radius: 20px;
}
