<div class="login-form">
    
    <div class="form">
        <h3>Login</h3>
        <div class="inner-form">
        <form (ngSubmit)="login()">

            <div class="username">
                <label>Username <br>
                <input [(ngModel)]="loginData.user" name="user" type="text" autocomplete="username">
                <br></label><br>
            </div>

            <div class="lmethod">
                <label>Token<br>
                <input [(ngModel)]="loginData.token" name="token" type="password" autocomplete="current-password"><br>
                </label><br>
            </div>
                <button type="submit" class="button-28">Login</button>
        </form>
    </div>
    </div>
    <button (click)="this.changeLoginType()" class="button-28">Change login type</button><br><br>
</div>