.inner-content {  
    align-content: center;
}


.username {
    align-content: center;
    background-color: #ffd103;
    margin: 15px;
    padding: 10px;
    border-radius: 20px;
}

.lmethod {
    align-content: center;
    background-color: #ffd103;
    margin: 15px;
    padding: 10px;
    border-radius: 20px;
}