<div class="login-form">
    
    <div class="form">
        <h3>Login</h3>
        <div class="inner-form">
        <form (ngSubmit)="login()">

            <div class="username">
                <label>Username <br>
                <input [(ngModel)]="loginData.username" name="username" type="text" autocomplete="username">
                <br></label><br>
            </div>

            <div class="password">
                <label>Password<br>
                <input [(ngModel)]="loginData.password" name="password" type="password" autocomplete="current-password"><br>
                </label><br>
            </div>
                <button type="submit" class="button-28">Login</button>
        </form>
    </div>
    </div>
</div>