.inner-content {  
    margin: 0px 0px 20px 0px; 
    align-content: center;
}


.username {
    align-content: center;
    background-color: #ffd103;
    margin: 15px;
    padding: 8px;
    border-radius: 20px;
}

.lmethod {
    align-content: center;
    background-color: #ffd103;
    margin: 15px;
    padding: 8px;
    border-radius: 20px;
}