.login {
    border-radius: 10px;
    background-color: #007bff;
    margin: 30px;
    padding: 40px;
}

.user {
    border-radius: 20px;
    background-color: #fffb00;
    padding: 10px;
}

.token {
    border-radius: 20px;
    background-color: #fffb00;
    padding: 10px;
}