<h1 class="sitetitle animate__animated animate__zoomIn">Udalosti</h1>
<div *ngFor="let article of articles" class="article">
    <h2>{{article.title}}</h2>
    <h3>{{article.content}}</h3>
    <!-- <h5>Autor: {{article.author}}</h5><br> -->
    <button *ngIf="isloggedIn" (click)="deleteArticle(article._id)" class="button-35">Delete</button><br>


    <br><button *ngIf="isloggedIn" (click)="editArticle(article._id)" class="button-35">Edit</button>
    <form *ngIf="editing" (ngSubmit)="updateArticle()"><br>
        <label>Názov: <br>
            <input [(ngModel)]="selectedArticle.title" name="title" placeholder="Názov" class="input">
        </label><br>

        <label>Text: <br>
            <textarea [(ngModel)]="selectedArticle.content" name="content" class="textarea"></textarea>
        </label><br>

        <button type="submit" class="button-36">Submit</button>
    </form> 
<!--(click)="this.editArticle()" -->
</div>
