<header>
<div class="toolbar" role="banner">
  <a href="https://skauting.sk/">
    <img
      width="250"
      alt="Sk skauting logo"
      src="../assets/dzive-labute-headerbigtext.png"
    >
  </a>

    <div class="spacer"></div>

    <div class="navBar">
      <nav> 
        <ul>
          <li><a routerLink="/home"><button class="button-35">Domov</button></a></li>
          <li><a routerLink="/articles"><button class="button-35">Udalosti</button></a></li>
          <li><a routerLink="/contact"><button class="button-35">Kontakt</button></a></li>
          <li><a [routerLink]="isLoggedIn ? '/admin' : '/login'"><button class="button-35">{{isLoggedIn ? 'Admin' : 'Prihlásenie'}}</button></a></li>
        </ul>
      </nav>
    </div>

    <div class="spacer"></div>
    <div class="spacer"></div>
</div>
</header>


<!-- Content -->
<div class="calendar">
  <!-- Preparing for action calendar -->
</div>


<div [ngClass]="isDark ? 'dark-theme' : 'light-theme'" class="content" role="main">
  
  <router-outlet></router-outlet>

  <button (click)="toggleBackground()" class="button-28">Zmeniť motív</button><br>


  <div *ngIf="showCookieMessage" class="cookie-banner">
    <p>We use cookies for theme changing, login remebering, and also to improve your experience. 
      By using our site, you agree to our use of cookies.</p>
    <button (click)="acceptCookies()">I Understand</button>
  </div>
</div>

  <!-- Footer -->
  <footer>
    <strong>
      Made with Angular and NodeJS&nbsp;<br>
      Creator: Radoslav&nbsp;
    </strong>
    <div class="spacer"></div>

    <a aria-label="Instagrame" target="_blank" rel="noopener" href="https://instagram.com/dzive_labute" title="Instagram">
      <svg id="insta-logo" height="30" data-name="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 600">
        <rect width="800" height="800" fill="none"/>
        <path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z" fill="#fff"/>
      </svg>
    </a><br>

    <a aria-label="Facebook" target="_blank" rel="noopener" href="https://www.facebook.com/DziveLabute" title="Facebook">
      <svg id="facebook-logo" height="25" data-name="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 600">
        <rect width="800" height="800" fill="none"/>
        <path d="M300 0C134.7 0 0 134.7 0 300s134.7 300 300 300 300-134.7 300-300S465.3 0 300 0zm77.4 292.5h-47.6v152.3H263v-152.3h-31v-49.1h31v-31c0-42.8 26.2-66.1 64.3-66.1 18.2 0 37.4 3.2 37.4 3.2v41.2h-21.1c-20.7 0-27.2 12.8-27.2 26v31h46.2l-7.5 49.1z" fill="#fff "/>
    </svg>
    
    </a>
  </footer>

