
:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  ul {
    list-style: none;
  }

  li {
    display: inline-block;
    margin-right: 15px;
  }


  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }


  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    display: flex;
    align-items: center;
    background-color: #1972d1;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #insta-logo {
    height: 40px;
    margin: 0 8px;
  }

  .toolbar #insta-logo:hover {
    opacity: 0.8;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
    background-color: #009AAB;
    width: 100%;
  }

 
  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }




//visual optimization for devices with different screen resolution
@media (min-width: 320px) and (max-width: 799px) {
    .navBar {
      height: fit-content;
      margin: 5px;
      padding: 1px;
      border-radius: 30px;
    }

    .toolbar {
      height: fit-content;
      background-color: #1972d1;
      width: 101%;
    }

    .header {
      height: fit-content;
      width: 100%;
      position: absolute;
    }

    .content {
      height: fit-content;
    }
  }

  @media (min-width: 800px) and (max-width: 999px) {
    .navBar {
      padding: 2px;
      border-radius: 30px;
    }

    .toolbar {
      position: absolute;
      width: 100%;
    }

    .header {
      height: fit-content;
      width: 100%;
      position: absolute;
    }

  }

  @media (min-width: 1000px) {
    .navBar {
      padding: 2px;
      border-radius: 30px;
    }

    .toolbar {
      position: absolute;
      width: 100%;
    }

    .header {
      height: fit-content;
      width: 100%;
      position: absolute;
    }

    .content {
      width: 100%;
    }
  }


  .cookie-banner {
    border-radius: 20%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 300px;
    background-color: #00c21d;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  }
  
  .cookie-banner button {
    margin-top: 10px;
    padding: 10px 20px;
  }