<div *ngIf="isHome">
    <h1 class="sitetitle animate__animated animate__zoomIn">Domov</h1>
    <div class="inner-content">
        <h2>Vitajte na našej webstránke</h2>
        <h4>Posledné udalosti:</h4>
        
        <div class="last-actions">    
            <div *ngFor="let article of articles">
                <h2 class="title">{{article.title}}</h2>
                <h3 class="content">{{article.content}}</h3><hr>
            </div>
        </div>

    </div>
</div>

<div *ngIf="isContact">
    <h1 class="sitetitle animate__animated animate__zoomIn">Kontaktujte nás</h1>
    <div class="inner-content">
        <h2><strong>Space for contact info. Yes.</strong></h2>
        <hr>
        <div class="help">
            <h3> Ak máte problémy alebo otázky týkajúce sa vývojára alebo webstránky, kontaktujte ma:</h3>
            <h4>Email: ryancode.eh&#64;gmail.com</h4>
    </div>
</div>
</div><br>