<div *ngIf="isHome">
    <h2>Home</h2>
</div>
<div *ngIf="isContact">
    <h2>Kontakt</h2>
    <h4>Pondelok 16:30-18:00 staršie dievčatá (Tatiana Tomčíková - 0910931264)</h4>
    <h4>Utorok 16:30 - 18:00 starší chlapci (Martin Šimčák - 0902131476)</h4>
    <h4>Streda 15:00 - 16:15 mladšia družina (Patrícia Čechová - 0950209768)</h4>
    <h4>Streda 16:30 - 17:30 mladšia družina (Gabriel Breza - 0944921301)</h4>
    <h4>Štvrtok 16:00 - 17:30 mladšia družina (Eliška Zámborská - 0905238418)</h4><br>					
    <h2>Ďalšie dôležité kontakty</h2>
    <h4>Adriána Čikotová (Vodkyňa oddielu) 0910186658</h4>
    <h4>Pavol Marcinčin (zástupca vodkyne oddielu a účtovník) 0948950631</h4><br>
    <div class="help">
        <h3> Ak máte problémy alebo otázky tíkajúce sa tejto webstárnky, kontaktujte ma:</h3>
        <h4>Email: ryancode.eh&#64;gmail.com</h4>
        <button (click)="msgToMessenger()" class="button-35">Messenger</button>
    </div>
</div>