<div *ngIf="isHome">
    <h1 class="sitetitle animate__animated animate__zoomIn">Domov</h1>
    <div class="inner-content">
        <h2>Vitajte na našej webstránke</h2>
        <h4>Posledné udalosti:</h4>
        
        <div class="last-actions">    
            <div *ngFor="let article of articles">
                <h2 class="title">{{article.title}}</h2>
                <h3 class="content">{{article.content}}</h3><br>
            </div>
        </div>

    </div>
</div>

<div *ngIf="isContact">
    <h1 class="sitetitle animate__animated animate__zoomIn">Kontakt</h1>
    <div class="inner-content">
    <!-- <h4>Pondelok 16:30-18:00 družina Želvy (Tatiana Tomčíková)</h4>
    <h4>Utorok 16:30 - 18:00 družina Patkane (Martin Šimčák)</h4>
    <h4>Streda 15:00 - 16:15 mladšia družina (Patrícia Čechová)</h4>
    <h4>Streda 16:30 - 17:30 mladšia družina (Gabriel Breza)</h4>
    <h4>Štvrtok 16:00 - 17:30 mladšia družina (Eliška Zámborská)</h4><br>					
    <h2>Ďalšie dôležité kontakty</h2>
    <h4>Adriána Čikotová (Vodkyňa oddielu)</h4>
    <h4>Pavol Marcinčin (zástupca vodkyne oddielu a účtovník)</h4><br> -->
    
    <div class="help">
        <h3> Ak máte problémy alebo otázky týkajúce sa vývojára, kontaktujte ma:</h3>
        <h4>Email: ryancode.eh&#64;gmail.com, alebo: <button (click)="msgToMessenger()" class="button-35">Messenger</button></h4>        
    </div>
</div>
</div><br>