.inner-content {
    font-weight: 100;
    border-radius: 25px;
}

.last-actions {
    background-color: #fff;
    border: 5px, #878787;
    border-radius: 20px;
    padding: 5px;
}

.title {
    font-weight: 900;
}

.content {
    font-family: 'Courier New', Courier, monospace;
}